*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    
    background-image: url("./img/Gemini_Generated_Image_zfmr75zfmr75zfmr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    background-color: gray;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    
}
.title{
    width: 100%;
    display: flex;
    
}
.title a{
    margin-left: 1.5em;
    position: absolute;
    left: 0;
    text-decoration: none;
    color: black;
    background-color: #aa95a3;
    padding: 15px;
    border-radius: 10%;
    font-family: 'Poppins' ;
}
.title a:hover{
    color: #aa95a3;
    background-color: white;
}
header h1{
    font-family: 'Poppins';
    margin: 0;
    width: 100%;
    text-align: center;
    flex-grow: 1;
}

.body{
     background-color: #f5f2c6;
    width: 600px;
    max-width: 450px;
    height: auto;
    min-height: 60vh;
    box-shadow: 1px 11px 21px rgba(0, 0, 0, 0.5);
    margin:5em auto;
    border-radius: 10%;
    padding: 2em;
    border: 10px solid;
}
.body h1{
    text-align: center;
   
    

}
.title-box{
    position: relative;
}
.title-work{
    width: 200px;
    height: 100px;
    background-color: #aa95a3 ;
    position: absolute;
    top: -90px;
    left: 95px;
     display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid;
}
Form{
    padding-top: 4em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 2em;
    
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form input, textarea{
    width: 300px;
    padding: 20px;
    resize: none;
}
.buttons {
    display: flex;
    gap: 3em;
    justify-content: space-evenly;
    margin: auto
}

.check-task, .submit {
    padding: 15px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}

.submit{
    background-color: #aa95a3;
}

.check-task:hover,
.submit:hover {
    background-color: white;
    color:#aa95a3
}

/* TASK */
.main-task{
    width: 100%;
}
.task-card{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(390px,1fr));
    margin: 5em auto 8em auto;
    place-items: center;
    grid-gap: 10em;
    width: 100%;
}
.card{
    width: 350px;
    height: 600px;
    background: linear-gradient(180deg,#f5f2c6 90%, white );
    border: 4px solid;
}
.task-title{
    text-align: center;
    margin-top: 1em;
    background-color: rgb(90, 130, 133);
    padding: 5px;
    font-family: monospace;
}
.task-list {
  max-height: 500px;  
  overflow-y: auto;    
  display: flex;
  flex-direction: column;
  gap: 1em;           
  padding: 1em;
}

.task-list::-webkit-scrollbar {
  width: 6px;
}

.task-list::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}


.task{
    padding: 20px;
    border-bottom: 1px solid;
}
.task h3{
    font-weight: bold;
    margin-bottom: .5em;
    font-size: 25px;
    color:#000;
}

.task-buttons{
    margin-top: 1em;
   display: flex;
   justify-content: space-between;
}
.task-buttons button{
    padding: 10px 20px;
}
.delete{
    background-color: rgb(226, 102, 127);

}
.todoButton{
    background-color: #aa95a3;
}
.progressButton{
    background-color: rgb(240, 240, 121);
}
.doneButton{
    background-color: rgb(107, 233, 107);
}








@media (max-width: 700px) {
    .body {
        border-width: 6px;
        border-radius: 5%;
    }
}